__pycache__/
checkpoint/*.pth
dataset/*
*.zip
output*
conda
tiny-imagenet-200
test_image
dataset*
metric_plots/*
attn/*
*.swp
.idea/*
Mito/
klh_*/
attn_*/
mito_*/
appoferritin/
ribo_whole/
CZI*
apo_new
out_CZI
TS_0008